<app-header></app-header>

<main class="create_password__container">
    <app-regresar redirecTo="/" text="Salir"></app-regresar>
    <app-subheader title="Bienvenido a la Casilla Fiscal Electrónica"></app-subheader>
    <div class="create_password_content">

      <div *ngIf="primeraPaso === 1" class="create_password__content_left">
        <div class="create_password__form" [formGroup]="formSeguridad">
          <div class="create_password__form_header">
            <h3>Crea una contraseña segura</h3>
            <p>Crea una contraseña nueva segura, preferentemente que no utilices en otros servicios web.</p>
          </div>
          <div class="create_password__form_content">
            <div class="field">
              <label>¿Cuál es el dígito de verificación de tu DNI?</label>
              <input pInputText [maxlength]="1"
                     formControlName="respuesta"
                     placeholder="Ingrese la respuesta de seguridad" />

            </div>
            <div class="create_password__options">
              <button
                (click)="goToLogin()"
                pButton
                class="ce-btn-gray font-bold text-center"
              >
                Cancelar
              </button>
              <button
                (click)="validarRespuestaSeguridad()"
                [disabled]="(!formSeguridad.valid) || validando "
                pButton
                class="ce-btn-primary font-bold text-center"
              >
                Validar
              </button>
            </div>
            <div class="help_information">
              <div
                *ngFor="let item of validationOption?.help"
                class="help_information__item"
              >
                <img [src]="item.url" alt="item.alt">
                <div
                  class="help_information__text"
                  [innerHTML]="obtenerTexto(item.label)"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div *ngIf="primeraPaso === 2" class="create_password__content_left">
            <div class="create_password__form" [formGroup]="form">
                <div class="create_password__form_header">
                    <h3>Crea una contraseña segura</h3>
                    <p>Crea una contraseña nueva segura, preferentemente que no utilices en otros servicios web.</p>
                </div>
                <div class="create_password__form_content">
                  <div class="field">
                    <label>Ingrese el código de verificación</label>
                    <input pInputText [maxlength]="6"
                           formControlName="verificationCode"
                           placeholder="Ingrese su codigo de verificación" />

                  </div>
                    <div class="field">
                        <label for="New password">Ingrese su nueva contraseña</label>
                        <p-password
                            (copy)="disableEvent($event)"
                            (paste)="disableEvent($event)"
                            [toggleMask]="true"
                            [feedback]="false"
                            formControlName="newPassword"
                            placeholder="Ingrese su nueva contraseña"
                            [style]="{'width': '100%'}"
                            [inputStyle]="{'width': '100%'}"
                        >
                        </p-password>
                        <div
                            class="text-red-400 mt-2"
                            *ngIf="form.get('newPassword')?.invalid && (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)"
                        >
                            Ingrese una contraseña válida
                        </div>
                    </div>
                    <div class="field">
                        <label for="Confirm new password">Confirme su nueva contraseña</label>
                        <p-password
                            (copy)="disableEvent($event)"
                            (paste)="disableEvent($event)"
                            [toggleMask]="true"
                            [feedback]="false"
                            formControlName="confirmPassword"
                            placeholder="Confirme su nueva contraseña"
                            [style]="{'width': '100%'}"
                            [inputStyle]="{'width': '100%'}"
                        >
                        </p-password>
                        <div class="text-red-400 mt-2"
                            *ngIf="form.get('confirmPassword')?.errors?.['required'] && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                            Repita su contraseña
                        </div>
                        <div class="text-red-400 mt-2"
                            *ngIf="form.get('confirmPassword')?.errors?.['matchValidator'] && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                            Las contraseñas no coinciden
                        </div>
                    </div>
                    <div class="create_password__options">
                        <button
                            (click)="goToLogin()"
                            pButton
                            class="ce-btn-gray font-bold text-center"
                        >
                            Cancelar
                        </button>
                        <button
                            (click)="enviar()"
                            [disabled]="(!form.valid) || validando "
                            pButton
                            class="ce-btn-primary font-bold text-center"
                        >
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="primeraPaso === 1" class="create_password__content_right">
            <app-security-response-policy></app-security-response-policy>
        </div>
        <div *ngIf="primeraPaso === 2" class="create_password__content_right">
            <app-password-policy></app-password-policy>
        </div>

    </div>
</main>















<!--


<div class="casilla">
    <main class="login_page">
        <app-subheader title="Bienvenido a la Casilla Fiscal Electrónica" ></app-subheader>

        <div class="w-max-1080 mx-auto">
            <div [formGroup]="form" class="grid grid-nogutter">
                <div class="col-12 md:col-6 mt-6">
                    <div class="text-justify">
                        <div class="font-bold text-2xl">Crea una contraseña segura</div>
                        <span>Crea una contraseña nueva segura, preferentemente que no utilices en otros servicios web.</span>
                    </div>
                    <div class="mt-4  mr-4">
                        <div class="">
                            <div class="field my-4">
                                <div class="">
                                    <label class="font-bold" for="">Ingrese su nueva contraseña</label>
                                    <p-password (copy)="disableEvent($event)" (paste)="disableEvent($event)" [toggleMask]="true" [feedback]="false" formControlName="newPassword"
                                        placeholder="Ingrese su nueva contraseña" styleClass="w-full" class="w-full">
                                    </p-password>
                                    <div class="text-red-400 mt-2" *ngIf="form.get('newPassword')?.invalid &&
                                                            (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)">
                                        Ingrese una contraseña válida</div>
                                </div>

                            </div>
                            <div class="field">
                                <div class="">
                                    <label class="font-bold" for="">Confirme su nueva contraseña</label>
                                    <p-password (copy)="disableEvent($event)" (paste)="disableEvent($event)" [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"
                                        placeholder="Confirme su nueva contraseña" styleClass="w-full" class="w-full">
                                    </p-password>
                                    <div class="text-red-400 mt-2"
                                        *ngIf="form.get('confirmPassword')?.errors?.['required'] &&
                                                            (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                                        Repita su contraseña</div>
                                    <div class="text-red-400 mt-2"
                                        *ngIf="form.get('confirmPassword')?.errors?.['matchValidator'] &&
                                                            (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">Las contraseñas no
                                        coinciden</div>
                                </div>
                            </div>

                            <div class="field mt-5">
                                <div class="flex justify-content-between flex-wrap">
                                    <button (click)="goToLogin()" pButton class="ce-btn-gray font-bold text-center" >

                                        Cancelar
                                    </button>

                                    <button (click)="enviar()"
                                    [disabled]="(!form.valid) || validando "
                                    pButton class="ce-btn-primary font-bold text-center" >
                                        <i class="pi mr-2"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 md:col-6 mt-6">
                    <div class="affiliation-box">
                        <app-password-policy></app-password-policy>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div> -->
