
<div class="safety-recommendations__container">
    <div class="safety-recommendations__content">
        <img src="assets/svg/pw-policy.svg" alt="Casilla">
        <h3>Consejos de seguridad</h3>
        <ul>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text"><b>No compartas tu código</b> de verificación con nadie.</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text"><b>Si no recibiste el código</b>, revisa tu <b>correo</b> y también la <b>carpeta de spam</b>.</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text"><b>Si no reconoces este inicio de sesión,</b> te recomendamos <b>cambiar tu contraseña</b> inmediatamente desde la opción de recuperación.</span>
            </li>
        </ul>
    </div>
</div>