<div class="grid">
    <div class="col">
        <div [formGroup]="form" class="form-login">

            <div >
                <p style="color: #161616;">
                    Para acceder a su <strong>{{ appName }}</strong> primero debe actualizar su contraseña.

                </p>
                <div *ngIf="loggedUser" class="field my-4">
                    <div class="">
                        <label class="font-bold" for="">Ingrese su contraseña actual</label>
                        <p-password [toggleMask]="true" [feedback]="false" formControlName="password"
                            placeholder="Ingrese su contraseña actual" styleClass="w-full" class="w-full">
                        </p-password>
                        <div class="text-red-400 mt-2" *ngIf="form.get('password')?.invalid && 
                                                 (form.get('password')?.dirty || form.get('password')?.touched)">
                            <small>Ingrese una contraseña válida</small>
                        </div>
                    </div>

                </div>
                <div class="field my-4">
                    <div class="">
                        <label class="font-bold" for="">Ingrese su nueva contraseña</label>
                        <p-password (copy)="disableEvent($event)" (paste)="disableEvent($event)" [toggleMask]="true"
                            [feedback]="false" formControlName="newPassword" placeholder="Ingrese su nueva contraseña"
                            styleClass="w-full" class="w-full">
                        </p-password>

                        <div class="text-red-400 mt-2" *ngIf="form.get('newPassword')?.invalid && 
                                                (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)">
                        <small>Ingrese una nueva contraseña válida</small>    
                        </div>
                    </div>
                    <small class="block">- Debe tener un mínimo de 8 caracteres de longitud.</small>
                    <small class="block">- Debe contener al menos un número.</small>
                    <small class="block">- Debe incluir al menos un símbolo entre los siguientes: $ @ # & % . *</small>
                    <small class="block">- Debe tener al menos una letra minúscula y una mayúscula.</small>
                    <small class="block">- No usar tildes. </small>
                </div>
                <div class="field">
                    <div class="">
                        <label class="font-bold" for="">Confirme su nueva contraseña</label>
                        <p-password (copy)="disableEvent($event)" (paste)="disableEvent($event)" [toggleMask]="true"
                            [feedback]="false" formControlName="confirmPassword"
                            placeholder="Confirme su nueva contraseña" styleClass="w-full" class="w-full">
                        </p-password>
                        <!-- <div class="text-red-400 mt-2"
                            *ngIf="form.get('confirmPassword')?.invalid && 
                                                (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                            Repita su contraseña</div> -->
                        <div class="text-red-400 mt-2"
                            *ngIf="form.get('confirmPassword')?.errors?.['matchValidator'] && 
                                                (form.get('confirmPassword')?.dirty 
                                                || form.get('confirmPassword')?.touched)">
                                            <small>Las contraseñas no coinciden</small>    
                                            </div>
                    </div>
                </div>
                <div class="field text-right">
                    <div class="mt-6">

                        <div class="mt-4 w-full flex justify-content-between flex-wrap">
                            <button pButton (click)="cancelar()" class="ce-btn-gray font-bold" pButton>Cancelar</button>
                            <button [disabled]="!isNewPasswordInputValid || resetting" pRipple (click)="resetPassword()"
                                pButton class="ce-btn-primary py-3">
                                <i [ngClass]="{'pi-spin pi-sync': resetting, 'pi-check': !resetting}"
                                    class="pi mr-2"></i>
                                {{ resetting? 'Actualizando...': 'Guardar' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>