
<div class="safety-recommendations__container">
  <div class="safety-recommendations__content">
    <img src="assets/svg/pw-policy.svg" alt="Casilla">
    <h3>Verificación de identidad obligatoria</h3>
    <ul>
      <li>
        <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
        <span class="recommendation_text">El sistema seleccionará de manera aleatoria una pregunta basada en los datos personales registrados del usuario</span>
      </li>
      <li>
        <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
        <span class="recommendation_text">Ingresa tu respuesta en el campo de texto y haz clic en "Validar"</span>
      </li>
      <li>
        <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
        <span class="recommendation_text">Si la respuesta es correcta, podrás continuar con el restablecimiento de tu contraseña</span>
      </li>
      <!--<li>
        <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
        <span class="recommendation_text"><strong>Importante: </strong>Si fallas 3 veces consecutivas, tu cuenta será bloqueada por 10 minutos por seguridad</span>
      </li> -->
      <li>
        <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
        <span class="recommendation_text">Si no recuerdas la respuesta correcta, <strong>contacta al soporte técnico: mesadeayudacfe@mpfn.gob.pe</strong></span>
      </li>
    </ul>
  </div>
</div>


<!-- <p-card styleClass="card-password-policy">
    <div class=" px-1">
        <div class="mb-2"><img src="assets/svg/pw-policy.svg" alt="Casilla"></div>
        <p class="font-bold text-2xl mb-4">
            Recomendaciones de seguridad
        </p>
        <div class="mb-2">
        <i class="pi pi-check-circle"></i> Utiliza al menos 8 caracteres (sin espacios en blanco)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos una letra mayúscula (A, B, C, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos una letra minúscula (a, b, c, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos un número (1, 2, 3, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos un caracter especial ($ @ # & % . *)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> No usar tildes (á, é, í, ó, ú, Á, É,...)
        </div>
    </div>
</p-card> -->
