<p-scrollPanel styleClass="scroll-color" [style]="{ width: '100%', height: '400px' }">
    <p class="mb-3 mt-2 font-bold text-center poppins-bold">TÉRMINOS Y CONDICIONES DE USO DE LA CASILLA FISCAL ELECTRÓNICA DEL
        MINISTERIO PÚBLICO - FISCALÍA DE LA NACIÓN</p>
    <div #contentContainer class="text-justify font-roboto">
        
    </div>


</p-scrollPanel>
<div class="mb-3 mt-5 flex justify-content-between flex-wrap">
    <button pButton (click)="close(false)" class="ce-btn-gray font-bold">No acepto</button>
    <button pButton [disabled]="disableButton" (click)="close(true)" class="ce-btn-primary font-bold">
        Acepto
        <i class="pi pi-arrow-right"></i>
    </button>
</div>