<div class="update_password__container">
    <div class="update_password__content">
        <form class="update_password__left" [formGroup]="form">
            <div class="update_password__header">
                <h3>Actualizar contraseña</h3>
                <p>Elija una contraseña segura y no la comparta con otras personas.</p>
            </div>
            <div class="update_password__form">
                <div class="field">
                    <label for="Contraseña Actual">Ingrese su contraseña actual</label>
                    <p-password
                        [toggleMask]="true"
                        [feedback]="false"
                        formControlName="oldPassword"
                        placeholder="Ingresar contraseña actual"
                        inputStyleClass="w-full"
                        styleClass="w-full"
                    >
                    </p-password>
                    <div 
                        class="text-red-400 mt-2 text_error"
                        *ngIf="form.get('password')?.invalid && (form.get('oldPassword')?.dirty || form.get('oldPassword')?.touched)"
                    >
                        Ingrese su contraseña actual
                    </div>
                </div>
                <div class="field">
                    <label for="Contraseña Actual">Ingrese su nueva contraseña</label>
                    <p-password
                        [toggleMask]="true"
                        [feedback]="false"
                        formControlName="newPassword"
                        placeholder="Ingresar nueva contraseña"
                        styleClass="w-full"
                        inputStyleClass="w-full"
                    >
                    </p-password>
                    <div
                        class="text-red-400 mt-2 text_error"
                        *ngIf="form.get('newPassword')?.invalid && (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)"
                    >
                        Ingrese una nueva contraseña válida
                    </div>
                </div>
                <div class="field">
                    <label for="Contraseña Actual">Confirme su nueva contraseña</label>
                    <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"
                    placeholder="Confirmar nueva contraseña" styleClass="w-full" inputStyleClass="w-full">
                    </p-password>
                    <div
                        class="text-red-400 mt-2 text_error"
                        *ngIf="form.get('confirmPassword')?.errors?.['required'] && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
                    >
                        Repita su contraseña
                    </div>
                    <div
                        class="text-red-400 mt-2 text_error"
                        *ngIf="form.get('confirmPassword')?.errors?.['matchValidator'] && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
                    >
                        Las contraseñas no coinciden
                    </div>
                </div>
                <div class="field_option">
                    <button
                        (click)="enviar()"
                        [disabled]="(!form.valid) || validando"
                        pButton
                        class="ce-btn-primary font-bold text-center"
                    >
                        <i class="pi mr-2"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <div class="update_password__right">
            <app-password-policy></app-password-policy>
        </div>
    </div>
</div>



<!-- <div [formGroup]="form" class="grid">
    <div class="col-6">
        <div class="text-xl font-bold">Actualizar contraseña</div>
        <span>Elija una contraseña segura y no la comparta con otras personas.</span>
        <div class="formgrid grid mt-5">
            <div class="field col-10">
                <label class="font-medium" for="">Contraseña Actual</label>
                <p-password [toggleMask]="true" [feedback]="false" formControlName="oldPassword"
                    placeholder="Contraseña actual" inputStyleClass="w-full" styleClass="w-full">
                </p-password>
                <div class="text-red-400 mt-2" *ngIf="form.get('password')?.invalid && 
                            (form.get('oldPassword')?.dirty || form.get('oldPassword')?.touched)">
                    Ingrese Su contraseña</div>
            </div>
            <div class="field col-10">
                <label class="font-medium" for="">Nueva Contraseña</label>
                <p-password [toggleMask]="true" [feedback]="false" formControlName="newPassword"
                    placeholder="Nueva Contraseña" styleClass="w-full" inputStyleClass="w-full">
                </p-password>
                <div class="text-red-400 mt-2" *ngIf="form.get('newPassword')?.invalid && 
                            (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)">
                    Ingrese una contraseña válida</div>
            </div>
            <div class="field col-10">
                <label class="font-medium" for="">Confirmar Contraseña</label>
                <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"
                    placeholder="Repetir contraseña" styleClass="w-full" inputStyleClass="w-full">
                </p-password>
                <div class="text-red-400 mt-2" *ngIf="form.get('confirmPassword')?.errors?.['required'] && 
                            (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
                    Repita su contraseña</div>
                <div class="text-red-400 mt-2" *ngIf="form.get('confirmPassword')?.errors?.['matchValidator'] && 
                            (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">Las
                    contraseñas no
                    coinciden
                </div>
            </div>
            <div class="field mt-5 col-10">
                <div class="flex justify-content-end flex-wrap">
                    
                    <button (click)="enviar()" [disabled]="(!form.valid) || validando" pButton class="ce-btn-primary font-bold text-center">
                        <i class="pi mr-2"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 password-policy">
    </div>
</div> -->
<p-toast>
    <ng-template let-message pTemplate="message">
        <app-custom-toast style="flex: 1 1 auto;" [message]="message"></app-custom-toast>
    </ng-template>
</p-toast>