@use 'responsive' as *;

.update_password__container {
    width: 100%;
    .update_password__content {
        width: 92%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        .update_password__left {
            width: calc(100% - 505px);
            padding-right: 100px;
            .update_password__header {
                width: 100%;
                margin-bottom: 20px;
                h3 {
                    font-family: var(--mpfn-font-semi-bold);
                    margin-bottom: 10px;
                    font-size: 1.3em;
                }
                p {
                    font-family: var(--mpfn-font-roboto-regular);
                    font-size: 1.05em;
                }
            }
            .update_password__form {
                .field {
                    width: 100%;
                    margin-bottom: 1.5em;
                    label {
                       font-family: var(--mpfn-font-roboto-semi-bold); 
                       width: 100%;
                       font-size: 1em;
                    }
                    input {
                        width: 100%;
                    }
                    p-password {
                        width: 100% !important;
                        display: inline-block !important;
                    }
                    .text_error {
                        font-family: var(--mpfn-font-roboto-regular);
                    }
                }
                .field_option {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        font-family: var(--mpfn-font-semi-bold);
                        min-width: 180px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .update_password__right {
            width: 505px;
        }
    }
}

:host::ng-deep app-password-policy{
    .safety-recommendations__container {
        padding: 20px 0;
        .safety-recommendations__content {
            min-width: 480px !important;
            width: 480px !important;
        }
    }
    @media (max-width: $medium-desktop) {
        .safety-recommendations__container {
            .safety-recommendations__content {
                width: 420px !important;
                min-width: auto !important;
            }
        }
    }
    @media (max-width: $tablet-large) {
        .safety-recommendations__container {
            justify-content: center;
            display: flex;
            margin-top: 40px;
            .safety-recommendations__content {
                min-width: auto !important;
                display: flex;
                flex-wrap: wrap;
                justify-content: center !important;
                h3 {
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: $tablet) {
        .safety-recommendations__container {
            width: 420px !important;
        }
    }
    @media (max-width: $extra-medium-mobile) {
        .safety-recommendations__container {
            width: 100% !important;
            margin-top: 30px;
            .safety-recommendations__content {
                width: 100% !important;
                min-width: auto !important;
            }
        }
    }
}

@media (max-width: $medium-desktop) {
    .update_password__container {
        .update_password__content {
            width: 95%;
            .update_password__left {
                width: calc(100% - 420px);
            }
            .update_password__right {
                width: 420px;
            }
        }
    }
}

@media (max-width: $tablet-large) {
    .update_password__container {
        .update_password__content {
            width: 520px;
            margin: 0 auto;
            justify-content: center;
            .update_password__left {
                width: 100%;
                padding-right: 0;
                .update_password__header {
                    h3 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
                .update_password__form {
                    .field_option {
                        justify-content: center;
                    }
                }
            }
            .update_password__right {
                width: 100%;
            }
        }
    }
}

@media (max-width: $extra-medium-mobile){
    .update_password__container {
        .update_password__content {
            width: 100%;
        }
    }
}

@media (max-width: $tablet){
    .update_password__container {
        .update_password__content {
            .update_password__left {
                .update_password__header {
                    h3 {
                        font-size: 1.2em;
                    }
                    p {
                        font-size: 1em;
                    }
                }
                .update_password__form {
                    .field {
                        label {
                           font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-mobile) {
    .update_password__container {
        .update_password__content {
            .update_password__left {
                .update_password__header {
                    h3 {
                        font-size: 1.1em;
                    }
                    p {
                        font-size: 0.9em;
                    }
                }
                .update_password__form {
                    .field {
                        label {
                           font-size: 0.85em;
                        }
                    }
                    .field_option {
                        button {
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .text_error {
        font-size: 0.9em;
    }
}