
<div class="safety-recommendations__container">
    <div class="safety-recommendations__content">
        <img src="assets/svg/pw-policy.svg" alt="Casilla">
        <h3>Recomendaciones de seguridad</h3>
        <ul>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">Utiliza al menos 8 caracteres (sin espacios en blanco)</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">Debe tener al menos una letra mayúscula (A, B, C, ...)</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">Debe tener al menos una letra minúscula (a, b, c, ...)</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">Debe tener al menos un número (1, 2, 3, ...)</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">Debe tener al menos un caracter especial ($ @ # & % . *)</span>
            </li>
            <li>
                <span class="recommendation_icon"><i class="pi pi-check-circle"></i></span>
                <span class="recommendation_text">No usar tildes (á, é, í, ó, ú, Á, É,...)</span>
            </li>
        </ul>
    </div>
</div>


<!-- <p-card styleClass="card-password-policy">
    <div class=" px-1">
        <div class="mb-2"><img src="assets/svg/pw-policy.svg" alt="Casilla"></div>
        <p class="font-bold text-2xl mb-4">
            Recomendaciones de seguridad
        </p>
        <div class="mb-2">
        <i class="pi pi-check-circle"></i> Utiliza al menos 8 caracteres (sin espacios en blanco)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos una letra mayúscula (A, B, C, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos una letra minúscula (a, b, c, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos un número (1, 2, 3, ...)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> Debe tener al menos un caracter especial ($ @ # & % . *)
        </div>
        <div class="mb-2">
            <i class="pi pi-check-circle"></i> No usar tildes (á, é, í, ó, ú, Á, É,...)
        </div>        
    </div>
</p-card> -->