@use 'responsive' as *;

$header-height: 80px;
$footer-height: 40px;
$header-height-responsive: 60px;

.my_account__container {
    width: 100%;
    background-color: var(--mpfn-white);
    border-radius: 10px;
    height: calc(100vh - $header-height - $footer-height);
    padding: 30px 35px;
    overflow-y: auto;
}

:host::ng-deep {
    .my_account__container {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: var(--mpfn-jade-background);
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            transition: 500ms all ease;
            background: var(--mpfn-gray15);
            border-radius: 5px;
            &:hover {
                background: var(--mpfn-gray13);
            }
        }
    }
    @media (max-width: $tablet) {
        .my_account__container {
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
        }
    }
    @media ( max-width: 402px ) {
        .my_account__container {
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
        }
    }
}

@media (max-width: $tablet-large) {
    .my_account__container {
        padding: 45px 35px 30px 35px;
    }
}

@media (max-width: $medium-mobile) {
    .my_account__container {
        padding: 45px 20px 30px 20px;
    }
}

@media (max-width: $tablet) {
    .my_account__container {
        height: calc(100vh - $header-height-responsive - $footer-height);
    }
}